a:hover #smart-preview-widget {
    display: block;
}

#smart-preview-widget {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 99999;
    opacity: 0;
    /*padding-top: 25px;*/
}

#smart-preview-widget div.content {
    background-color: #F1F3FA;
    /*border: 1px solid rgba(34, 36, 38, 0.15);*/
    /*box-shadow: 5px 5px rgba(102, 102, 102, 0.1);*/
}

#smart-preview-widget div.content:before {
    position: absolute;
    top: 16px;
    right: 110px;
    display: inline-block !important;
    /*border-right: 10px solid transparent;*/
    /*border-bottom: 10px solid rgba(34, 36, 38, .15);*/
    /*border-left: 10px solid transparent;*/
    content: "";
}

#smart-preview-widget div.content img.loading {
    margin: 10px;
    max-width: 650px;
    overflow: hidden;
    border: medium none;
}

